# Borders
default_border pixel 1
for_window [title="^.*"] title_format ""
default_floating_border pixel 1

# Titlebar style
titlebar_border_thickness 0
titlebar_padding 0

client.focused #000000 #7a8478 #ffffff #7a8478 #7a8478
client.focused_inactive #000000 #444b42 #ffffff #444b42 #444b42
client.focused_tab_title #000000 #444b42 #ffffff
client.unfocused #000000 #000000 #ffffff #7a8478
