#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    id top_bar

    position top

    font Noto Normal 14

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command while ~/configs/status.sh; do sleep 1; done
    # status_command while echo \"$(date +'%Y-%m-%d %X') | $(cat /sys/class/power_supply/BAT0/capacity)%\"; do sleep 1; done
    # status_command while date +'%Y-%m-%d %X'; do sleep 1; done
    status_edge_padding 10
    status_padding 3

    tray_padding 4

    colors {
        statusline #d3c6aa
        background #1e2326a0
 
        focused_workspace #7a8478 #1e2326a0 #d3c6aa
        active_workspace #1e2326a0 #1e2326a0 #d3c6aa
        inactive_workspace #1e2326a0 #1e2326a0 #d3c6aa
        urgent_workspace #ffe44dff #1e2326a0 #ffe44dff
    }
}

# Bar colors
# bar {
#     id bottom_bar
#     
#     height 44
#     
#     mode hide
# 
#     # Center the workspace buttons
#     workspace_min_width 44
#     strip_workspace_numbers yes
# 
#     # Add padding
#     # padding 8px 12px
# 
#     colors {
#         background #1e2326a0
#         statusline #ffffff
#         inactive_workspace #32323200 #32323200 #5c5c5c
#     }
# }
